<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      
    </div>
  <% end %>
  
  <div class="card card-form">

    <div class="field">
      <%= form.label :name, class:"form-label"%>
      <%= form.text_field :name, class:"form-control field-name", placeholder:"Enter name" %>
    </div>

    <div class="field">
      <%= form.label :description, class:"form-label" %>
      <%= form.text_area :description, class:"form-control field-descrip", placeholder:"Type a description" %>
    </div>

    <% if !@user.id.nil? %>
      <%= link_to new_user_social_network_path(@user), class:"text-primary" do %>
        Add<span class="fas fa-link socialnetwork-icon" aria-hidden="true"></span>
    <% end %>

    <div class="field field-avatar">
      <%= form.label "Profile photo" %>
      <%= form.file_field :avatar%>
    </div>

    <% end %>
    
    <div class="actions submit-button">
      <%= form.submit class:"btn btn-primary btn-sm" %>
    </div>

  </div>
<% end %>
