

<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="card" style="width:20rem; padding:10px; margin: 0 auto">


    <div class="field">
      <%= form.label :name%>
      <%= form.text_field :name, placeholder:"Enter name", style:"width:300px; font-size: 12px" %>
    </div>


    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, class:"form-control", placeholder:"Type a description", style:"font-size: 12px"  %>
    </div>

    <%# <% if @user.avatar.attached? %>
      <%# <%= image_tag @user.avatar.variant(resize: '100x100!') %>
    <%# <% end %>

    <div class="field">
      <%= form.label "Profile photo" %>
      <%=form.file_field :avatar%>
    </div>

    <%if !@user.id.nil? %>
      <%= link_to new_user_social_network_path(@user), class:"text-primary" do %>
        <span class="fas fa-link" aria-hidden="true" style='font-size:25px; padding:1px; margin: auto 2%'></span>
      <% end %>

    <%end%>

    <div class="actions">
      <%= form.submit class:"btn btn-primary btn-sm", style:"margin: 5% 30%" %>
    </div>

    
    

  </div>

<% end %>
