<p id="notice"><%= notice %></p>

<h1 class="d-flex justify-content-start" style="margin: auto 43%">Users</h1>

<table class = "table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td scope="row"><%= user.name %></td>
        <td scope="row"><%= user.description %></td>
        <td><%= link_to 'Show', user, class:"text-info" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"text-dark" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="actions">
  <%= button_to "New user", new_user_path, :method => "get", class:"btn btn-outline-primary" %>
</div>







