<div class="card w75" style="width:25rem; padding:10px">
  <div class="card-body">
    <p id="notice"><%= notice %></p>


    <h5 class="card-title"><%= @user.name %></h5>
    <p>
      <strong>Description:</strong>
      <%= @user.description %>
    </p>

    <p>
      <strong>Facebook:</strong>
      <%= link_to @user.facebook, @user.facebook, class: "text-primary" %>
    </p>

    <p>
      <strong>Instagram:</strong>
      <%= link_to @user.instagram, @user.instagram, class: "text-primary" %>
    </p>

    <p>
      <strong>Twitter:</strong>
      <%= link_to @user.twitter, @user.twitter, class: "text-primary" %>
    </p>
  </div>
  
</div>

<div class="d-flex actions" style="margin: 1% auto">
  <%= button_to "Edit", edit_user_path(@user), :method => "get", class:"btn btn-outline-primary" %>
  <%= button_to "Back", users_path, :method => "get", class:"btn btn-outline-primary", style:"margin: auto 15%"%>
</div>


