<div class="card w75" style="width:25rem; padding:10px; margin: 0 auto">
  <div class="card-body">
    <p id="notice"><%= notice %></p>


    <h2 class="card-title"><%= @user.name %></h5>
    <p>
      <strong>Description:</strong>
      <%= @user.description %>
    </p>
    

    <%# <%if !social_network.id.nil? %> 
    <h5>Social networks:</h2>
    <%# <%end%> 
    
    <% @user.social_networks.each do |social_network| %>
      <p>
        
        <%= link_to social_network.name, social_network.link, class: "text-primary"%>
        <%= link_to 'Edit', edit_user_social_network_path(@user,social_network), class:"text-warning" %>
        <%= link_to 'Destroy',user_social_network_path(@user,social_network), method: :delete, data: { confirm: 'Are you sure?' }, class:"text-danger"%>
      </p>
    <% end %>
  </div>
  
</div>

<div class="d-flex actions" style="margin: 1% auto; position: absolute; left: 483px; right: 200px">
  <%= button_to "Edit", edit_user_path(@user), :method => "get", class:"btn btn-warning btn-sm" %>
  <%= button_to "Back", users_path, :method => "get", class:"btn btn-success btn-sm", style:"margin: auto 15%"%>
</div>


