<%= form_with model: [@user,@social_network] do |form| %>
  <% if @social_network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social_network.errors.count, "error") %> prohibited this social network from being saved:</h2>

      <ul>
        <% @social_network.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="card card-form">

    <div class = "mb-3">
        <%= form.select :name, options_for_select(["Facebook", "Instagram", "Twitter", "LinkedIn"]), {}, {class: "form-select form-select-sm"} %>
    </div>

    <div class="field">
      <%= form.label :link, class:"form-label" %>
      <%= form.text_field :link, value:@social_network.link, class:"form-control field-name", placeholder:"Enter the social network link"%>
    </div>

    <div class="actions">
      <%= form.submit class:"btn btn-primary btn-sm submit-button-socialnetwork"%>
    </div>

  </div>
<% end %>