<%= form_with model: [@user,@social_network] do |form| %>
  <% if @social_network.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@social_network.errors.count, "error") %> prohibited this social network from being saved:</h2>

      <ul>
        <% @social_network.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="card" style="width:20rem; padding:10px; margin: 0 auto">

    <div class = "mb-3">
        <%= form.select :name, options_for_select(["Facebook", "Instagram", "Twitter", "LinkedIn"]), {}, {class: "form-select form-select-sm"} %>
    </div>

    <div class="field">
      <%= form.label :link %>
      <%= form.text_field :link, value:@social_network.link, placeholder:"Enter the social network link", style:"width:300px; font-size: 12px" %>
    </div>

    <div class="actions">
      <%= form.submit class:"btn btn-primary btn-sm", style:"margin: 5% 20%" %>
    </div>

  </div>

<% end %>